<h3>About "ghost gear"</h3>
<p>TODO Lorem ipsum...</p>

<h3>Our mission</h3>
<p>
  Cradle to Grave Fishing Gear Tracker was developed to support responsible fishing through better understanding of
  the quantity of gear lost and abandoned in the world's oceans. The tracker encourages safe disposal of gear at
  the end of its life, reporting of lost and abandoned gear, and tracking of gear replacement and new gear. Through
  understanding the amount of new gear entering the fishing industry and comparing this quantity to the amount of
  known gear exiting through proper disposal, the goal is to come to a better understanding of the true amount of
  gear unaccounted for that could be lost and abandoned in the oceans.
</p>

<h3>Our team</h3>

<div class="media">
  <div class="media-left">
    <%= image_tag 'brian.png', class: 'img-circle img-responsive media-object pull-left face' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Brian Towle <small>Development</small></h4>
    <p>Lorem ipsum...</p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <%= image_tag 'scott.png', class: 'img-circle img-responsive media-object pull-left face' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Robert Scott Reis <small>Development</small></h4>
    <p>Lorem ipsum...</p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <%= image_tag 'becca.jpg', class: 'img-circle img-responsive media-object pull-left face' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Rebecca Pheasant-Reis <small>Design</small></h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
