<div class="jumbotron home">
  <div class="inner-jumbo">
    <h1>cradle to grave fishing gear tracker</h1>
    <p>Lorem ipsum...</p>
    <p><button class="btn btn-primary btn-lg">File a report</button></p>
  </div>
</div>
