<div class="jumbotron home">
  <div class="inner-jumbo">
    <h1>cradle to grave fishing gear tracker</h1>
    <p>Lorem ipsum...</p>
    <p><%= link_to 'File a new purchase report', sold_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
